html {
  width: 16.6666666666667%;
}
body {
  width: 50%;
}
@media screen and (min-width: 0) and (max-width) {
  div,
span {
    width: 50%;
  }
}
@media screen and (min-width: 1) and (max-width: 719px) {
  h1 {
    width: 50%;
  }
}
@media screen and (min-width: 0) and (max-width: 719px) {
  h2,
h3 {
    width: 50%;
  }
}
@media screen and (min-width: 3) and (max-width: 1439px) {
  h3 {
    width: 100%;
  }
}