@require '../index.styl'

html
  col: 1 6

body
  col: 1 2

div
  col: 1 2 palm

span
  col: 6 palm

h1
  col: 6 phone-tablet

h2
  col: 6 palm-tablet

h3
  col: 1 2 palm-tablet
  col: 12 laptop-wide
